@{
    bool tr = true;
    bool en = false;

    string dil = "tr";
    string flag = "tr.jpg";
    if (Request.Cookies["Language"] != null)
    {
        dil = Request.Cookies["Language"].Value;
    }

    switch (dil)
    {
        case "en":
            en = true;
            tr = false;
            flag = "us.jpg";
            break;
        default:
            en = false;
            tr = true;
            flag = "tr.jpg";
            break;
    }

    var menu = ViewData["menu"] as string;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Taskesti-@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i&display=swap" rel="stylesheet">

    <!-- Stylesheets -->
    <link href="~/Taskesti/css/font-awesome-all.css" rel="stylesheet">
    <link href="~/Taskesti/css/flaticon.css" rel="stylesheet">
    <link href="~/Taskesti/css/owl.css" rel="stylesheet">
    <link href="~/Taskesti/css/bootstrap.css" rel="stylesheet">
    <link href="~/Taskesti/css/jquery.fancybox.min.css" rel="stylesheet">
    <link href="~/Taskesti/css/animate.css" rel="stylesheet">
    <link href="~/Taskesti/css/imagebg.css" rel="stylesheet">
    <link href="~/Taskesti/css/jquery-ui.css" rel="stylesheet">
    <link href="~/Taskesti/css/color.css" rel="stylesheet">
    <link href="~/Taskesti/css/style.css" rel="stylesheet">
    <link href="~/Taskesti/css/responsive.css" rel="stylesheet">
    <style>
        .dropdown, h1 {
            text-shadow: 0px 2px 10px rgba(0,0,0,0.6), 0px 0px 30px rgba(0,0,0,0.4), 0px 0px 50px rgba(0,0,0,0.3), 0px 0px 180px rgba(0,0,0,0.3);
            color: black;
        }
        .logox {
            font-family: 'Big Shoulders Stencil Display', cursive;
        }
        p, h1, h2, li {
            font-family: 'Barlow Condensed', sans-serif;
        }
    </style>

</head>
<body>

    @if (menu == "ANASAYFA")
    {
        @Html.Partial("_Index")
    }
    else
    {
        @Html.Partial("_SayfaLayout")
    }
    <!-- main-header end -->
    <!-- Mobile Menu  -->
    <div class="mobile-menu">
        <div class="menu-backdrop"></div>
        <div class="close-btn"><i class="fas fa-times"></i></div>

        <nav class="menu-box">
            @*<div class="nav-logo"><a href="/"><img src="../../Taskesti/images/footer-logo.png" alt="" title=""></a></div>*@
            <div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
            <div class="contact-info">
                <h4>İletişim Bilgileri</h4>
                <ul>
                    <li><i class="fas fa-map-marker-alt text-white"></i>  Tekstilkent Cad. Koza Plaza B Blok No:29 Esenler / İstanbul</li>
                    <li><i class="fas fa-phone"></i> <strong>Tel No: </strong> <a href="tel:08508881414">0850 888 14 14</a></li>
                    <li><i class="fas fa-envelope"></i> <strong>E-posta:</strong> <a href="mailto:bilgi@taskestisu.com"> bilgi@taskestisu.com</a></li>
                    <li><i class="fas fa-envelope"></i> <strong>E-posta:</strong> <a href="mailto:export@taskestisu.com"> export@taskestisu.com</a></li>
                </ul>
            </div>
            <div class="social-links">
                <ul class="clearfix">
                    <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                    <li><a href="#"><span class="fab fa-facebook-square"></span></a></li>
                    <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                    <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                </ul>
            </div>
        </nav>
    </div><!-- End Mobile Menu -->
    <!--Page Title-->
    <div>
        @RenderBody()
    </div>
    <footer class="main-footer">
        <div class="footer-upper">
            <div class="auto-container">
                <div class="widget-section wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                    <div class="row clearfix">
                        <div class="col-md-6 col-sm-12">
                            <h2 style="color: white;">MERKEZ:</h2>
                            <p style="color: white"> <i class="fas fa-map-marker-alt text-white"></i> Tekstilkent Cad. Koza Plaza B Blok No:29 Esenler / İstanbul</p>
                            <p style="color: white"><i class="fas fa-phone"></i> <strong>Tel No: </strong> <a href="tel:08508881414">0850 888 14 14</a></p>
                            <p style="color: white"><i class="fas fa-phone"></i> <strong>Faks No:</strong>  <a href="tel:(212) 232 04 83">(212) 232 04 83</a></p>
                            <p style="color: white"><i class="fas fa-envelope"></i> <strong>E-posta:</strong> <a href="mailto:bilgi@taskestisu.com"> bilgi@taskestisu.com</a></p>
                            <p style="color: white"><i class="fas fa-envelope"></i> <strong>E-posta:</strong> <a href="mailto:export@taskestisu.com"> export@taskestisu.com</a></p>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <h2 style="color: white;">DOLUM TESİSİ:</h2>
                            <p style="color: white;"><i class="fas fa-map-marker-alt"></i> Merkez Mahallesi Karaçomak Küme Evleri No: 29 14810 Taşkesti-Bolu</p>
                            <p style="color: white;"><i class="fas fa-phone"></i> <strong>Tel No: </strong> <a href="tel:(0374)4266767">(0374) 426 67 67</a></p>
                            <p style="color: white;"><i class="fas fa-phone"></i> <strong>Faks No:</strong>  <a href="tel:(0374)4266505"> (0374) 426 65 05</a></p>
                            <p style="color: white;"><i class="fas fa-envelope"></i> <strong>E-posta:</strong> <a href="mailto:bilgi@taskestisu.com"> bilgi@taskestisu.com</a></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="auto-container">
                <div class="copyright">@DateTime.Now.Year TAŞKESTİ</div>
            </div>
        </div>
    </footer>
    <!-- jequery plugins -->
    <script src="~/Taskesti/js/jquery.js"></script>
    <script src="~/Taskesti/js/popper.min.js"></script>
    <script src="~/Taskesti/js/bootstrap.min.js"></script>
    <script src="~/Taskesti/js/owl.js"></script>
    <script src="~/Taskesti/js/wow.js"></script>
    <script src="~/Taskesti/js/validation.js"></script>
    <script src="~/Taskesti/js/jquery.fancybox.js"></script>
    <script src="~/Taskesti/js/scrollbar.js"></script>
    <script src="~/Taskesti/js/jquery-ui.js"></script>
    <script src="~/Taskesti/js/appear.js"></script>

    <!-- map script -->
    @*<script src="http://maps.google.com/maps/api/js?key=AIzaSyATY4Rxc8jNvDpsK8ZetC7JyN4PFVYGCGM"></script>*@
    <script src="~/Taskesti/js/gmaps.js"></script>
    <script src="~/Taskesti/js/map-helper.js"></script>

    <!-- main-js -->
    <script src="~/Taskesti/js/script.js"></script>

    <script type="text/javascript">
    @*function GetLanguage(dil) {
        let url = "@this.Request.RawUrl";
        $.get('/Home/ChangeCultureLang',
            { 'lang': dil, 'returnUrl': url },
            function(data) {
                location.reload();
            });
        }*@


        @*function DegerAl(deger) {
            debugger;
            var sayfaDeger = deger.getAttribute("data-id");
            $.post('@Url.Action("Index","Home")', { 'sayfaId': sayfaDeger }, (data) => {});
        }*@



    </script>
    @RenderSection("scripts", false)




</body>
</html>
