
<header class="main-header style-two">
    <!-- header-top -->
    <div class="header-top">
        <div class="auto-container clearfix">
            <div class="top-left pull-left">
                <ul class="info-box clearfix">
                    <li><p style="color: #346bae;"><i class="fas fa-phone"></i> <strong>Tel No: </strong> <a href="tel:08508881414">0850 888 14 14</a></p></li>
                    <li><p style="color: #346bae;"><i class="fas fa-envelope"></i> <strong>E-posta:</strong> <a href="mailto:bilgi@taskestisu.com"> bilgi@taskestisu.com</a></p></li>

                </ul>
            </div>
            <div class="top-right pull-right">
                <ul class="social-links clearfix">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>

                </ul>
            </div>
        </div>
    </div><!-- header-top end -->
    <div class="outer-container">
        <div class="auto-container">
            <div class="header-upper clearfix">
                <div class="upper-left pull-left clearfix">
                    <figure class="logo-box"><a href="@Url.Action("Index","Home")"> <img style="height:80px" src="~/Taskesti/images/resimler/logo.png" alt=""></a></figure>
                </div>
                <div class="upper-right pull-right clearfix">
                    <div class="menu-area pull-left">
                        <!--Mobile Navigation Toggler-->
                        <div class="mobile-nav-toggler">
                            <i class="icon-bar"></i>
                            <i class="icon-bar"></i>
                            <i class="icon-bar"></i>
                        </div>
                        <nav class="main-menu navbar-expand-md navbar-light">
                            <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                                <ul class="navigation clearfix">
                                    <li class="dropdown">
                                        <a href="@Url.Action("Index","Home")">ANASAYFA</a>

                                    </li>
                                    <li class="dropdown">
                                        <a href="@Url.Action("Kurumsal","Home")">KURUMSAL</a>

                                    </li>
                                    <li class="dropdown">
                                        <a href="@Url.Action("Urunler","Home")" >ÜRÜNLERİMİZ</a>

                                    </li>
                                    <li class="dropdown">
                                        <a href="@Url.Action("SiparisVer","Home")" >SİPARİŞ VER</a>

                                    </li>
                                    <li class="dropdown">
                                        <a href="@Url.Action("Belgeler","Home")">BELGELERİMİZ</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="@Url.Action("Contact","Home")">İLETİŞİM</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="menu-right-content pull-left clearfix">
                        <div class="search-box-outer">
                            <div class="dropdown">
                                <button class="search-box-btn" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-flag"></i>
                                </button>
                                <ul class="dropdown-menu pull-right search-panel" aria-labelledby="dropdownMenu3">
                                    <li class="panel-outer">

                                        <div class="form-container">
                                            <a href="#"><img src="~/Taskesti/images/bayraklar/turkiye.jpeg" /></a>
                                            <a href="#"><img src="~/Taskesti/images/bayraklar/almanya.jpeg" /></a>
                                            <a href="#"><img src="~/Taskesti/images/bayraklar/en.jpeg" /></a>
                                            <a href="#"><img src="~/Taskesti/images/bayraklar/rus.jpeg" /></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--sticky Header-->
    <div class="sticky-header">
        <div class="auto-container clearfix">
            <figure class="logo-box"><a href="/"> <img style="height:50px" src="~/Taskesti/images/resimler/logo.png" alt=""></a></figure>
            <div class="menu-area">
                <nav class="main-menu clearfix">
                    <!--Keep This Empty / Menu will come through Javascript-->
                </nav>
            </div>
        </div>
    </div>
</header>